<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head.html :: head">
</head>

<body>

<nav th:replace="/fragments/navi.html :: navi">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/products/new}">Add Product</a>
        </div>
        <div class="col-12 mt-3">
            <form class="form-inline">
                <div class="form-group mb-2 mr-2">
                    <label for="minCost" class="sr-only">Minimum cost</label>
                    <input type="text" class="form-control" id="minCost" th:value="${param.minCost}"
                           name="minCost" placeholder="minCost filter">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="maxCost" class="sr-only">Maximum cost</label>
                    <input type="text" class="form-control" id="maxCost" th:value="${param.maxCost}"
                           name="maxCost" placeholder="maxCost filter">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>
        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="/fragments/sorting_header.html :: sorting ('Id', 'id')">
                    </th>
                    <th scope="col" th:replace="/fragments/sorting_header.html :: sorting ('Title', 'title')">
                    </th>
                    <th scope="col" th:replace="/fragments/sorting_header.html :: sorting ('Cost', 'cost')">
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prod : ${products}">
                    <th scope="row" th:text="${prod.id}">1</th>
                    <td th:text="${prod.title}">Prod 1</td>
                    <td th:text="${prod.cost}">100</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/products/{id}(id = ${prod.id})}"><i
                                class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/products/delete/{id}(id = ${prod.id})}"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr th:if="${products.isEmpty()}">
                    <td colspan="4">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${products.isEmpty()}" class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:classappend="${products.number + 1 == 1} ? 'disabled'" class="page-item">
                        <a class="page-link"
                           th:href="@{/products(page=${products.number}, size=${products.size}, minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}"
                           tabindex="-1">Previous</a>
                    </li>

                    <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a class="page-link"
                           th:href="@{'/products'(page=${num}, size=${products.size}, minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}">[[${num}]]
                            <span th:if="${num == products.number + 1}" class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li th:classappend="${products.number + 1 == products.totalPages} ? 'disabled'" class="page-item">
                        <a class="page-link"
                           th:href="@{/products(page=${products.number + 2}, size=${products.size}, minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:replace="/fragments/scripts.html :: scripts">
</th:block>

</body>
</html>
