<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head.html :: head">
</head>

<body>

<nav th:replace="/fragments/navi.html :: navi">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/users}" th:method="post" th:object="${user}">
                <input th:field="*{id}" type="hidden" id="id" name="id" >
                <div class="form-group">
                    <label>Name</label>
                    <input th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="Enter Username">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input th:field="*{email}" type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="form-group">
                    <label>Repeat password</label>
                    <input th:field="*{passwordToMatch}" type="password" class="form-control" id="passwordToMatch" name="passwordToMatch" placeholder="Repeat password">
                    <p class="text-danger" th:if="${#fields.hasErrors('passwordToMatch')}" th:errors="*{passwordToMatch}"></p>
                </div>
                <div class="form-group" sec:authorize="hasAnyRole('SUPERADMIN')">
                    <label>Roles</label>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role: ${roles}"
                                th:text="${role.name}"
                                th:value="${role.id}"
                                th:selected="${user.roles?.contains(role)}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<th:block th:replace="/fragments/scripts.html :: scripts">
</th:block>

</body>

</html>
